.img-eat {
    width: 600px;
    height: 350px;
    background-size: 100% 100%;
    border-radius: 20px;
}

.pic-slogan {
    width: 130px;
    height: 130px;
}

.img-testi {
    width: 600px;
    height: 400px;
    background-size: 100% 100%;
    border-radius: 20px;
}

.rectangle {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rectangle-testi {
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-wrapper {
    font-weight: 600;
    color: #272042;
    font-size: 1.1rem;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-2 {
    font-weight: 400;
    color: #8b8ba5;
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: normal;
}

.p {
    font-weight: 700;
    color: #272042;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
}

.text-wrapper-6 {
    font-weight: 500;
    width: 100px;
    color: #272042;
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-7 {
    font-weight: 500;
    color: #272042;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.text-wrapper-9 {
  font-weight: 500;
  color: #272042;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.text-wrapper-15 {
    width: fit-content;
    font-weight: 700;
    color: #272042;
    font-size: 0.9rem;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-21 {
    font-weight: 700;
    color: #272042;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-27 {
    font-weight: 700;
    color: #272042;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 70px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.text-wrapper-24 {
    font-weight: 700;
    color: #272042;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 70px;
    white-space: nowrap;
}

.text-wrapper-25 {
    font-weight: 400;
    color: #8b8ba5;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 34px;
}

.pic-3 {
    width: 581px;
    height: 373px;
    border-radius: 20px;
}

.eat-what-you-cook {
    font-weight: 700;
    color: #272042;
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 60px;
}

.when-you-eat {
    font-weight: 400;
    color: #8b8ba5;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 34px;
}

.pic-makanan {
    width: 400px;
    height: 263px;
    border-radius: 20px;
}

.resizable {
  resize: vertical; 
  height: 150px;    
}

.testimonials-section {
  padding-left: 10%;
  padding-right: 10%;
}

.testimonial-item {
  text-align: center;
}

.name-item {
  margin-bottom: 100px;
  text-align: center;
}

.background-container {
  position: relative;
}

.background-container::before {
  content: '';
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/516/956/original/testimonial-flat-illustrations-concept-vector.jpg');
  background-size: cover; 
  background-position: center;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 576px) {
    .eat-what-you-cook {
        font-size: 1.75rem;
        letter-spacing: 0;
        line-height: 40px;
    }

    .text-wrapper-6 {
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .img-eat, .img-testi, .pic-slogan, .pic-3, .pic-makanan, .img-aphosthrope {
        width: auto;
        height: auto;
        border-radius: auto;
    }
}


@media (max-width: 1366px) {
  .img-eat, .img-testi, .pic-slogan, .pic-3, .pic-makanan, .img-aphosthrope {
        width: auto;
        height: auto;
        border-radius: 10px;
    }
}
