.img {
    width: 581px;
    object-fit: cover;
    border-radius: 20px;
}

.pic {
    width: 900px;
    height: 500px;
    border-radius: 20px;
}

.text-wrapper-10 {
    font-weight: 400;
    color: #272042;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

@media (max-width: 1025px) {
    .img, .pic {
        width: auto;
        height: auto;
        border-radius: auto;
    }
}

@media (max-width: 1366px) {
    .img, .pic {
        width: auto;
        height: auto;
        border-radius: 10px;
    }
}